<% title "People" %>

<p><%= link_to "New Person", new_person_path %></p>

<div class="companies">
  <% @people.each do |person| %>
    <div class="person">
      <h4><%= link_to "#{person.last_name}, #{person.first_name}", person %></h4>
      <%= render :partial => "phone_numbers/list", :object => person.phone_numbers %>
      <%= render :partial => "email_addresses/list", :object => person.email_addresses %>
    </div>
  <% end %>
</div>
