.input {
  width: 100%;
  @include box-sizing(border-box);
  @include border-radius(4px);
  padding: .3em .4em;
  border: 1px solid #ccc;
  background-color: #f5f5f5;
  color: darken($text, 8);
  font-size: 1.3em;
  &:focus {
    outline: 0;
    @include box-shadow(rgba(#81b1df, .7) 0 0 5px 1px inset);
    border-color: #81b1df;
    background-color: #fff;
  }
}

form {
  + p {
    float: right;
    margin-right: 1em;
  a {
    color: #aaa;
  }}
  input[type=text]{
    @extend .input;
    margin: 0;
  }
  p {
    padding: 0;
    margin-bottom: .6em;
    &:last-child {
      padding-top: 1em;
      margin-top: 1.6em;
      border-top: 1px dashed #eee;
    }
  }
  label {
    color: $light;
    font-size: .9em;
    font-weight: bold;
    line-height: 1.5em;
    padding-bottom: .2em;
    display: inline-block;
    text-transform: uppercase;
  }
  textarea {
    @extend .input;
    height: 12em;
    font-size: 1.1em;
  }
}

input[type=submit] {
  @include fancy-button($header, $theme: mini);
  float: right;
  font-size: 1.2em;
}



.flash {
  @include box-shadow(rgba(#000, .5) 0 1px 3px);
  @include border-bottom-radius(6px);
  @include box-sizing(border-box);
  @include background-image(linear-gradient(rgba(#000, .4), rgba(#000, .6)));
  border: 3px solid rgba(#fff, .5);
  @include background-clip(padding-box);
  text-shadow: rgba(#000, .6) 0 -1px;
  color: #fff;
  margin: 0 auto;
  position: absolute; top: -51px; left: 0;
  padding: .4em .8em;
  width: 100%;
  text-align: center;
  border-top: 0;
  &:empty {
    height: 0px;
    overflow: hidden;
    padding: 0;
    border-width: 0;
    @include box-shadow(none);
    background: none;
  }
}
