@import "compass";
@import "compass/reset";
@import "compass/layout";
@import "fancy-buttons";
@import "theme";
@import "lib";
@import "layout";
@import "pages";
@import "forms";
@include reset-html5;

.headings {
  font-family: "Yanone Kaffeesatz", sans;
}
.group {
  @include pie-clearfix;
}

a { color: $link;
  &:hover { color: darken($link, 6) };
}

h1 {
  @extend .headings;
  @include border-top-radius(6px);
  @include gradient-bg($header, 10);
  @include box-shadow(rgba(#fff, .15) 0 1px inset, rgba(#fff, 1) 0 1px);
  margin: -20px -20px 15px;
  padding: 20px;
  padding-right: 180px;
  line-height: 1em;
  font-weight: normal;
  color: #fff;
  position: relative;
  text-shadow: darken($header, 15) 0 -2px;
  font-size: 2.5em;
  &:after {
    content: " ";
    position: absolute;
    left: 0; right: 0;
    height: 15px;
    bottom: -16px;
    border-top: 1px solid #e5e5e5;
    @include background-image(linear-gradient(rgba(#aaa,.5), rgba(#fff, 0)));
    z-index: 1;
  }
}
h2, h3, h4 {
  color: $text;
  font-size: 1.3em;
  line-height: 1.5em;
  margin: .2em 0 .5em;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: bold;
}

.top-button {
  position: absolute;
  top: 26px;
  right: 0px;
  display: inline-block;
  padding: 4px 11px;
  font-size: .9em;
  @include box-shadow(rgba(#fff, .4) 0 -1px inset);
  @include border-radius(1.2em);
  @include gradient-bg(#f5f5f5, $color2: #ccc);
  text-shadow: #fff 0 1px;
  color: #999999;
  text-decoration: none;
  &:hover {
    color: #555;
  }
  &:active {
    @include gradient-bg(#ccc, $color2: #f5f5f5);
  }
}

h1 + p a[href$="new"] { @extend .top-button; }

.alt-link {
 @include opacity(.4); &:hover { @include opacity(.8); }
}

.people .person, .companies .company {
  clear: both;
  .actions {
    line-height: 2em;
    float: right;
    a { @extend .alt-link; text-decoration: none; display: inline-block; padding-left: .2em; font-size: .9em; }
    a:hover { text-decoration: underline;}
  }
  .tag_list {
    display: inline-block;
    font-size: .8em;
    padding-top: .5em;
    color: #999;
  }
}

#container > .actions, h1 + div .actions {
  border-bottom: 1px dashed #ddd;
  margin-bottom: .7em;
  padding-bottom: .7em;
  font-size: .9em;
  @include clearfix;
  text-align: right;
  a { float: left;
    color: #999999;
    padding-right: .5em;
  }
  a[href$='edit'], a[data-method='delete'] {
    text-decoration: none;
    float: none;
    margin-left: .5em;
    padding: 4px 12px 3px 8px;
    @extend .top-button;
    &:before {
      @include opacity(.2);
      position: relative;
      top: 2px;
      display: inline-block;
    }
    &:hover:before { @include opacity(.6); }
    //padding-left: 30px;
  }
  a[data-method='delete'] {
    right: 70px;
    &:before {
      content: " ";
      background: image-url("destroy.png") no-repeat;
      width: image-width("destroy.png") + 4;
      height: image-height("destroy.png");
    }
  }
  a[href$='edit'] {
    &:before {
      content: " ";
      background: image-url("edit.png") no-repeat;
      width: image-width("edit.png") + 4;
      height: image-height("edit.png");
    }
  }
}

