<% title "Companies" %>

<p><%= link_to "New Company", new_company_path %></p>
<div class="companies">
  <% @companies.each do |company| %>
    <div class="company">
      <h4><%= link_to company.name, company %></h4>
      <%= render :partial => "phone_numbers/list", :object => company.phone_numbers %>
      <%= render :partial => "email_addresses/list", :object => company.email_addresses %>
    </div>
  <% end %>
</div>
